.add-review {
    padding: 50px;
    margin: 20px;
    padding-top: 5px;
    background-color: #CC232A;
}

.add-review button {
    cursor: pointer;
    padding: 15px;
    width: 100%;
    background-color: #FFD84B;
    border: none;
}

.customer-review {
    background-color: #F2888B;
    padding: 10px;
    padding-left: 15px;
    margin-bottom: 25px;
}